/* Progress Bar CSS  */
#progressBg {
    width: 100%;
    background-color: #212529;
  }
#progressBar {
    width: 0%;
    height: 3px;
    background-color: #04AA6D;
   
  }

  /* Force navbar to adapt the color. Bootstrap-Datatables css overwriting the default one */
.bg-dark{
  background-color: #212529 !important;
}

#editBookButton{
  margin: 5px;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
#saveBookButton{
  margin: 5px;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
#butt{
  display: flex;
  align-items: center;
}
